body{
    background-image: url(Matrix.gif);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: Consolas, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}
header {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/281/773/145/anime-anime-girls-kono-subarashii-sekai-ni-shukufuku-wo-megumin-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}   

.highlight {
    color: #b9b9b9;
    margin: 20px, 0px ,20px, 0px;
    box-sizing: border-box;
}

#round-rectangular-frame {
display: flex;
justify-content: center;
overflow-wrap: break-word;
border: 5px solid #6a4a57;
border-radius: 10px;
padding: 20px;
width: auto;
height: 20vh;
text-align: center;
line-height: 100px;
margin: 0 auto;
position: relative;
font-size: 40px;
}
#container {
    background-color: #18b52a;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    max-width: 90%;
    min-width: 300px;  
    overflow: hidden;
    word-wrap: break-word;
    text-align: justify;
}
.container {
    text-align: center;
    border: 4px solid #205723;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: justify;

}
.center {
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 40px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.tab {
    text-indent: 2em;
}

.center button {
    padding: 10px 20px;

    font-size: 16px;
    font-weight: bold;
    background-color: #257e31;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #164a19;
}
.result {
    font-size: 30px;
    text-align: center;
    font-family: consolas, sans-serif;
    font-weight: bold;
}
img {
    padding: 20px;
    margin: 10px;
    align-content: center;
}